@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow effect to the header */
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    display: flex;
    justify-content: right;
}

.nav-links ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-left: 10px;
    display: inline-block;
}

.nav-links a,.nav-link a {
    color: palevioletred;
}
.search form {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    background-color: palevioletred;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.navbar {
    padding-top: 120px;
    margin-bottom: 20px;
}

main {
    min-height: 100vh;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.jumbotron h1 {
    margin-bottom: 10px;
}

.jumbotron p {
    margin-bottom: 20px;
}

.jumbotron button {
    background-color: #f8f9fa;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}
.carousel-img {
    max-width: 70%;
    text-align: center;
}
.nav.flex-column {
    margin-bottom: 20px;
}

.nav.flex-column .nav-link {
    border: 1px solid palevioletred;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    color: palevioletred;
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}