header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    text-decoration: none;
    color: purple;
}

#content-wrapper {
    margin-top: 50px;
    padding: 20px;
    background-image: url('../img/pattern.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1, article {
    background-color: #fff;
    padding: 15px;
}

article h3 {
    color: purple;
}

article p {
    color: #000000;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 25px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
}